<div class="product-detail-wrapper" *ngIf="product; else notFound">
  <div class="product-card">
    <div class="product-image">
      <img [src]="product.image" [alt]="product.name" />
    </div>

    <div class="product-info">
      <h1>{{ product.name }}</h1>
      <!-- <p class="price">KES {{ product.price }}</p> -->
       <p class="price">Price Coming Soon</p>
      <p class="description">{{ product.description }}</p>

      <div class="actions">
        <button class="btn-primary">Add to Cart</button>
        <a routerLink="/ecommerce" class="btn-outline">← Back to Products</a>
      </div>
    </div>
  </div>
</div>

<ng-template #notFound>
  <p class="not-found">Product not found.</p>
</ng-template>
